NODE_ENV=development
PORT = 3001

DB_HOST=localhost
DB_PORT=8889
DB_DATABASE=myoncare
DB_USERNAME=root
DB_PASSWORD=root
DB_DIALECT=mysql
DB_PORT_DOCKER_PORT=8889

# JWT
# JWT secret key
JWT_SECRET='p4sta.w1th-b0logn3s3-s@uce'
JWT_ALGO='HS256'
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
